<!DOCTYPE html>
<html>
<head>
	<title>Lexus Plus Proto 03</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link href="css/styles.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="http://www.lexus.com/assets/css/partner-nav.css">
</head>
<body>

	<div id="container-outer">

		<div id="top-menu">
			<script type="text/javascript" src="http://www.lexus.com/header/script"> </script>
		</div>

		<div id="video-header">

			<video loop muted autoplay class="top-video">
				<source src="../res/img/top.mp4" type="video/mp4">
			</video>

			<div id="hero-overlay">
				<div id="hero-line-1" class="hero-line" >WE TRANSFORMED THE INDUSTRY 27 YEARS AGO.</div>
				<div id="hero-line-2" class="hero-line">JOIN US AS WE DO IT AGAIN.</div>

				<div id='hero-logo'>
					<div id='hero-cross'></div>
					<div id='hero-logo-text'></div>
				</div>
			</div>
		</div>

		<div id="main-content">

			<div id="module-1" class="main-module">

				<div class="main-image-holder lefty">
					<div class="main-image-frame"></div>
					<img id="module-1-img" class="main-image" src="../res/img/vidlink.jpg"/>
				</div>

				<div id="module-1-text" class="main-text-holder righty">

					<div class="main-heading">
						<div class="heading-top" id="heading-top-1"></div>
						UPFRONT PRICING. DEDICATED CONSULTANTS. THE DEALERSHIP EXPERIENCE, ELEVATED.
					</div>


					<div class="main-body">
						Introducing Lexus Plus, a refreshingly new approach to the dealership experience. Where transparent, upfront pricing comes standard. And where a dedicated consultant can assist you in every way, every step of the way. Welcome to the easier, faster, and better way.  This is more than a new chapter of customer service. This is our next step in rewriting the book.
					</div>


				</div>
			</div>

			<div id="module-2" class="main-module">

				<div id="module-2-img-holder" class="main-image-holder righty">
					<div class="main-image-frame"></div>
					<div id="module-2-img" ></div>
				</div>

				<div id="module-2-text" class="main-text-holder lefty scroll-anim">

					<div class="main-heading">
					<div class="heading-top" id="heading-top-2"></div>
						YOU'RE IN THE DRIVER'S SEAT, EVEN BEFORE YOU GET THERE.
					</div>
					<div class="main-subheading">
						UPFRONT PRICING
					</div>


					<div class="main-body">
						The more you know, the better. Which is why you'll find total transparency in the pricing of every product and service we offer. Whether you're in the market for a new vehicle or an L/Certified vehicle, purchasing parts or accessories, or just curious about our finance and labor rates, we're an open book. The only number you won't find? The time you'll save not having to negotiate. We'll leave that calculation up to you.
					</div>


				</div>
			</div>

			<div id="module-3" class="main-module">

				<div id="module-3-img-holder" class="main-image-holder lefty">
					<div class="main-image-frame"></div>
					<img id="module-3-img" class="main-image" src="../res/img/main-03.jpg"/>
				</div>

				<div id="module-3-text" class="main-text-holder righty">

					<div class="main-heading">
					<div class="heading-top" id="heading-top-3"></div>
						THERE'S ONLY ONE OF US BECAUSE THERE'S ONLY ONE OF YOU
					</div>
					<div class="main-subheading">
						DEDICATED CONSULTANTS
					</div>

					<div class="main-body">
						Say goodbye to awkward hand-offs and confusing financing formulas. And say hello to your dedicated Lexus sales or service consultant: a friendly face that will answer any question and assist you along the way. From product and pricing information to trade-in offers and final paperwork, your consultant can handle it all. And all with no pressure. Because they're not here to sell you a Lexus. They're here to help you buy the one that's right for you.
					</div>


				</div>
			</div>

		</div>

		<div id="faq">

			<div id="faq-header">
				<div id="faq-header-label">LEXUS PLUS FAQ</div>
				<div id="faq-header-arrow"></div>
			</div>

		</div>

		<div id="dealers">

			<div id="dealers-top">
				<div id="dealers-header" class="main-heading">CURRENT LEXUS PLUS DEALERS</div>
				<div id="dealers-subheader" class="main-body">To experience the Lexus Plus difference firsthand, visit one of the dealers below.</div>
			</div>

			<div id="dealer-list">

				<div id="dealer-1" class="dealer lefty2"></div>
				<div id="dealer-2" class="dealer righty2"></div>
				<div id="dealer-3" class="dealer lefty2"></div>
				<div id="dealer-4" class="dealer righty2"></div>
				<div id="dealer-5" class="dealer lefty2"></div>
				<div id="dealer-6" class="dealer righty2"></div>
				<div id="dealer-7" class="dealer lefty2"></div>
				<div id="dealer-8" class="dealer righty2"></div>
				<div id="dealer-9" class="dealer lefty2"></div>
				<div id="dealer-10" class="dealer righty2"></div>

			</div>

		</div>

		<script type="text/javascript" src="http://www.lexus.com/footer/script"> </script>


	</div>


	<div id="debug">debug</div>

	<script src="../lib/jquery-2.2.1.min.js"></script>
	<script src="../lib/lodash.min.js"></script>
	<script src="../lib/TweenMax.min.js"></script>
	<script src="../lib/SplitText.min.js"></script>
	<script src="../lib/stats.min.js"></script>
	<script src="../lib/atutil.js"></script>
	<script src="js/keyframes.js"></script>
	<script src="js/main.js"></script>

</body>
</html>
