<!DOCTYPE html>
<html>
<head>
	<title>Lexus Plus Proto 05</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link href="css/styles.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="http://www.lexus.com/assets/css/partner-nav.css">
</head>
<body>

	<div id="container-outer">

		<div id="top-menu">
			<script type="text/javascript" src="http://www.lexus.com/header/script"> </script>
		</div>

		<div id="video-header">

			<video loop muted autoplay class="top-video">
				<source src="../res/img/top.mp4" type="video/mp4">
			</video>

			<div id="hero-overlay">

				<div id="hero-line-1" class="hero-line" >WE TRANSFORMED THE INDUSTRY 27 YEARS AGO. JOIN US AS WE DO IT AGAIN.</div>

				<div id='hero-logo'>
					<div id='hero-cross'></div>
					<div id='hero-logo-text'></div>
				</div>
			</div>
		</div>

		<div id="main-content">

			<div id="module-1" class="main-module">

				<div class="main-image-holder lefty">
					<div class="main-image-frame"></div>
					<img id="module-1-img" class="main-image" src="../res/img/mod1.jpg"/>
				</div>

				<div id="module-1-text" class="main-text-holder righty">

					<div class="main-heading">
						<div class="heading-top" id="heading-top-1"></div>
						UPFRONT PRICING. DEDICATED CONSULTANTS. THE DEALERSHIP EXPERIENCE, ELEVATED.
					</div>


					<div class="main-body">
						Introducing Lexus Plus, a refreshingly new approach to the dealership experience. Where transparent, upfront pricing comes standard. And where a dedicated consultant can assist you in every way, every step of the way. Welcome to the easier, faster, and better way.  This is more than a new chapter of customer service. This is our next step in rewriting the book.
					</div>


				</div>
			</div>

			<div id="module-2" class="main-module">

				<div id="module-2-img-holder" class="main-image-holder righty">
					<div class="main-image-frame"></div>
					<div id="module-2-img" class="main-image" ></div>
				</div>

				<div id="module-2-text" class="main-text-holder lefty scroll-anim">

					<div class="main-heading">
					<div class="heading-top" id="heading-top-2"></div>
						YOU'RE IN THE DRIVER'S SEAT, EVEN BEFORE YOU GET THERE.
					</div>
					<div class="main-subheading">
						UPFRONT PRICING
					</div>


					<div class="main-body">
						The more you know, the better. Which is why you'll find total transparency in the pricing of every product and service we offer. Whether you're in the market for a new vehicle or an L/Certified vehicle, purchasing parts or accessories, or just curious about our finance and labor rates, we're an open book. The only number you won't find? The time you'll save not having to negotiate. We'll leave that calculation up to you.
					</div>


				</div>
			</div>

			<div id="module-3" class="main-module">

				<div id="module-3-img-holder" class="main-image-holder lefty">
					<div class="main-image-frame"></div>

					<div id="module-3-img" class="main-image">
						<img class="stack-img" src="../res/img/mod3-01.jpg"/>
						<img class="stack-img" src="../res/img/mod3-02.jpg"/>
						<img class="stack-img" src="../res/img/mod3-03.jpg"/>
					</div>

				</div>

				<div id="module-3-text" class="main-text-holder righty">

					<div class="main-heading">
					<div class="heading-top" id="heading-top-3"></div>
						THERE'S ONLY ONE OF US BECAUSE THERE'S ONLY ONE OF YOU
					</div>
					<div class="main-subheading">
						DEDICATED CONSULTANTS
					</div>

					<div class="main-body">
						Say goodbye to awkward hand-offs and confusing financing formulas. And say hello to your dedicated Lexus sales or service consultant: a friendly face that will answer any question and assist you along the way. From product and pricing information to trade-in offers and final paperwork, your consultant can handle it all. And all with no pressure. Because they're not here to sell you a Lexus. They're here to help you buy the one that's right for you.
					</div>


				</div>
			</div>

		</div>

		<div id="faq">

			<div id="faq-header">
				<div id="faq-header-label">LEXUS PLUS FAQ</div>
				<div id="faq-header-arrow"></div>
			</div>

			<div id="faq-content">

				<div class="faq-q">What options are available on the 2016 GX?</div>
				<div class="faq-a">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur.</div>
				<div class="faq-q">How do I register to use Enform Remote?</div>
				<div class="faq-a">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur.</div>
				<div class="faq-q">How can I opt out from receiving Lexus news and promotions via mail and/or e-mail?</div>
				<div class="faq-a">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur.</div>
				<div class="faq-q">I have a Lexus Enform App Suite account and have signed into the website before, but now it's not working. Why?</div>
				<div class="faq-a">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur.</div>
				<div class="faq-q">iHeartRadio and Pandora are part of Lexus Enform with App Suite, so can I listen to them on my smartphone when I'm not in my vehicle?</div>
				<div class="faq-a">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur.</div>
			</div>


		</div>

		<div id="dealers">

			<div id="dealers-top">
				<div id="dealers-header" class="main-heading">CURRENT LEXUS PLUS DEALERS</div>
				<div id="dealers-subheader" class="main-body">To experience the Lexus Plus difference firsthand, visit one of the dealers below.</div>
			</div>

			<div id="dealer-list">

				<div id="dealer-1" class="dealer dealer-lefty"></div>
				<div id="dealer-2" class="dealer dealer-righty"></div>
				<div id="dealer-3" class="dealer dealer-lefty"></div>
				<div id="dealer-4" class="dealer dealer-righty"></div>
				<div id="dealer-5" class="dealer dealer-lefty"></div>
				<div id="dealer-6" class="dealer dealer-righty"></div>
				<div id="dealer-7" class="dealer dealer-lefty"></div>
				<div id="dealer-8" class="dealer dealer-righty"></div>
				<div id="dealer-9" class="dealer dealer-lefty"></div>
				<div id="dealer-10" class="dealer dealer-righty"></div>

			</div>

		</div>

		<script type="text/javascript" src="http://www.lexus.com/footer/script"> </script>


	</div>

	<!-- VIDEO MODAL OVERLAY -->
	<div id="video-overlay">
		<!-- <div id="video-bg"></div> -->
		<video controls id="video-player" >
			<source src="http://akavideo.lexus.com/media/FCV/LC/Lexus-LC-Concept-Intro.mp4" type="video/mp4">
			<source src="http://akavideo.lexus.com/media/FCV/LC/Lexus-LC-Concept-Intro.webm" type="video/webm">
		</video>
		<div id="video-close-btn"></div>
	</div>

	<div id="debug">debug</div>

	<script src="../lib/jquery-2.2.1.min.js"></script>
	<script src="../lib/lodash.min.js"></script>
	<script src="../lib/TweenMax.min.js"></script>
	<script src="../lib/SplitText.min.js"></script>
	<script src="../lib/stats.min.js"></script>
	<script src="../lib/atutil.js"></script>
	<script src="js/keyframes.js"></script>
	<script src="js/main.js"></script>
	<script src="http://www.lexus.com/assets/js/nav/partner-nav.js"> </script>

</body>
</html>
