
body {
	background-color: #000;
	margin: 10px;
	color: #FFF;
	font-family: 'Nobel', sans-serif;
	xfont-weight: 100;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

html {
	box-sizing: border-box;
}

*,*:before, *:after {
	box-sizing: inherit;
}

@font-face { font-family: 'Nobel'; src: url('../../res/fonts/nobel-regular.woff'); }
@font-face { font-family: 'Nobel Book'; src: url('../../res/fonts/nobel-book.woff'); }
@font-face { font-family: 'Nobel Bold'; src: url('../../res/fonts/nobel-bold.woff'); }


#container-outer{
	xwidth: 100%;
}

/* TOP */

#top-menu{
	width: 100%;
	xheight: 90px;
	xbackground-color: #FFF;
	xborder: red solid 1px;
	xz-index: 99;
}

#video-header{
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}

.top-video {
	width: 100%;
	height: 400px;
	object-fit: cover;
	position:absolute;
	opacity: 0;
}

#hero-overlay{
	height: 400px;
	width: 1200px;
	position:relative;
	left: 50%;
	margin-left:-600px;
	xborder: 1px solid red;
}

.hero-line{
	font-family: 'Nobel';
	font-size: 52px;
	position:absolute;
	z-index: 2;
	text-align: center;
	width:100%;
	opacity: 0;
	left:50%;
	margin-left:-600px;
	top: 40px;
}

#hero-logo{
	width: 452px;
	height: 160px;
	position:absolute;
	top: 200px;
	left:50%;
	margin-left:-226px;
}

#hero-cross{
	width: 160px;
	height: 160px;
	background-image: url('../../res/img/logo-cross.png');
	position:absolute;
	opacity: 0;
	xtransform: rotate(90deg);
	xtransform: scale(0.6,0.6);
}

#hero-logo-text{
	width: 292px;
	height: 160px;
	background-image: url('../../res/img/logo-text.png');
	position:absolute;
	left: 160px;
	opacity: 0;
	transform: translate(90px,0);
}

#hero-text{
	font-family: 'Nobel';
	font-size: 52px;
	line-height: 130%;
	position:absolute;
	z-index: 2;
	width:1200px;
	top: 40px;
	text-align: center;
	left:50%;
	margin-left:-600px;
	xopacity: 0;
}

/* MAIN */

#main-content{
	max-width: 1300px;
	xborder: yellow solid 1px;
	margin: 0 auto;
}
.main-module{
	position: relative;
	height: 460px;
	margin-top: 50px;
	xborder: 1px solid green;
	xoverflow:hidden; /* expands module to accomadate content??? */
}

.main-text-holder{
	position: absolute;
	padding-top: 100px;
	opacity:0;
	z-index: 2;
	height: 460px;
	xborder: 1px solid red;
}

/* text module indiviual widths */
#module-1-text{
	width: 590px;
}

#module-2-text{
	width: 580px;
}

#module-3-text{
	width: 635px;
}

.main-image-holder{
	width: 790px;
	height: 460px;
	position: absolute;
	top: 0;
	xopacity:0;
	xborder: 1px solid orange;
}

.main-text-holder.righty{
	background: linear-gradient(to left,  rgba(0,0,0,0.6) 60%,rgba(0,0,0,0) 100%);
	padding-left: 20px;
}

.main-text-holder.lefty{
	background: linear-gradient(to right,  rgba(0,0,0,0.6) 60%,rgba(0,0,0,0) 100%);
	padding-right: 20px;
}

.righty{
	right: 50px;
}

.lefty{
	left: 50px;
}

.main-image{
	width: 734px;
	height: 430px;
	position:absolute;
	top: 30px;
	left: 30px;
	opacity:0;
}

.main-image-frame{
	width: 734px;
	height: 430px;
	background-image: url('../../res/img/frame-tile.png');
	position:absolute;
	opacity: 0;
}

.main-heading{
	font-family: 'Nobel';
	font-size: 38px;
	line-height: 100%;
}

.heading-top{
	width: 0%;
	height:6px;
	background-color: #FFF;
	margin-bottom: 6px;
}

.main-subheading{
	font-family: 'Nobel';
	font-size: 24px;
	margin-top: 6px;
}

.main-body{
	font-family: 'Palatino','Palatino Linotype','Book Antiqua',serif;
	font-size: 18px;
	margin-top:15px;
	line-height: 140%;
}

#module-1-img{
	cursor: pointer;
}

/* FOCUS */

.stack-img{
	position:absolute;
	top:0;
	width: 100%;
	height: auto;
}

/* FAQ */
#faq{
	xborder: blue solid 1px;
	xheight: 200px;
	max-width: 1300px;
	margin: 150px auto 0 auto;
}

#faq-header-label{
	font-family: 'Nobel';
	font-size: 24px;
	letter-spacing: 4px;
	position: absolute;
	left: 0;
}

#faq-header{
	width: 100%;
	height: 42px;
	border-bottom: #999 dotted 1px;
	position: relative;
}

#faq-header-arrow{
	width: 17px;
	height: 11px;
	position: absolute;
	right: 0;
	top: 10px;
	background-image: url('../../res/img/down-arrow.png');
}

.faq-q {
	font-family: 'Nobel';
	font-size: 24px;
	margin: 25px 20px 0 20px;
}

.faq-a{
	font-family: 'Palatino','Palatino Linotype','Book Antiqua',serif;
	font-size: 18px;
	line-height: 140%;
	margin: 15px 20px 0 20px;
}

/* DEALER LIST */

#dealers{
	max-width: 1300px;
	margin: 0 auto;
	margin-top: 100px;
	xborder: green solid 1px;
}

#dealers-top{
	text-align: center;
	opacity: 0;
}

#dealers-subheader{
	width: 670px;
	border-top: 2px solid #FFF;
	margin: 16px auto 140px auto;
	padding-top: 16px;
}

#dealer-list{
	max-width: 1040px;
	margin: 0 auto;
	xborder: yellow solid 1px;
}

.dealer{
	position: relative;
	width: 510px;
	height: 235px;
	background-image: url('../../res/img/dealer.png');
	margin-top: -50px;
	opacity: 0;
}

.dealer-lefty{
	left: 0px;
	xborder: solid red 1px;
}

.dealer-righty{
	xright: 0;
	left: 530px;
	xborder: solid green 1px;
}

/* MISC */

#debug{
	position: fixed;
	top:0;
	right:0;
	font-size: 20px;
	color: #0f0;
	z-index: 999;
	background-color: rgba(0,0,0,0.8);
	width: 200px;
	height: 20px;
	display:none;
}

/* VIDEO PLAYER */

#video-overlay{

	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	background-color: #000;
	z-index: 9999;
	visibility:hidden;
}

#video-close-btn {
	width: 60px;
	height: 60px;
	background-image: url('../../res/img/close-btn.png');
	position:absolute;
	top:0;
	right: 0;
	cursor: pointer;
}

#video-player{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}


/* BREAKPOINTS */


/* TABLET ================================== */

@media  (max-width: 960px)   {

	.hero-line{
		width:670px;
		xborder: 1px solid yellow;
		margin-left:-335px;
		top: 0px;
	}

	#hero-logo{
		top: 240px;
	}

	.main-module{
		height: 295px;
		margin-top: 20px;
	}

	.main-image-holder{
		width: 444px;
		height: 265px;
	}

	.main-image{
		width: 434px;
		height: 255px;
		top: 10px;
		left: 10px;
	}

	.main-image-frame{
		width: 434px;
		height: 255px;
	}

	.main-text-holder{
		padding-top: 30px;
		height: 265px;
	}

	#module-1-text{
		width: 300px;
	}

	#module-2-text{
		width: 300px;
	}

	#module-3-text{
		width: 300px;
	}

	.main-heading{
		font-size: 22px;
	}

	.main-subheading{
		font-size: 16px;
	}

	.main-body{
		font-size: 12px;
	}

	/* FAQ */
	#faq{
		margin: 50px auto 0 auto;
	}

	.faq-q {
		font-size: 20px;
		margin: 20px 20px 0 20px;
	}

	.faq-a{
		font-size: 13px;
		margin: 10px 20px 0 20px;
	}


	/* DEALERS */

	#dealer-list{
		width: 100%;
	}

	#dealers-subheader{
		width: 100%;
		margin: 16px auto 20px auto;
	}

	.dealer{
		margin: 40px auto 0 auto;
	}

	.dealer-righty{
		left: 0;
	}
}

/* PHONE ===================================*/

@media  (max-width: 560px)   {

	.main-module{
		height: auto;
		xborder: 1px solid red;
	}

	.main-text-holder{
		padding-top: 0px;
		height: 215px;
		width:100%;
		position: relative;
		xborder: 1px solid green;
	}

	.main-image-holder{
		width: 100%;
		position: relative;
		xborder: 1px solid yellow;
		xheight: auto; /* COLLAPSE MODULES */
	}

	.main-image{
		width: 100%;
		height: auto;
		top: 0px;
		left: 0px;
		xborder: 1px solid cyan;
	}

	.main-text-holder.righty{
		padding-left: 0;
	}

	.main-text-holder.lefty{
		padding-right: 0;
	}

	.main-image-frame{
		width: 100%;
		height: auto;
	}

	.stack-img{
		width: 100%;
		height: auto;
	}

	#module-1-text{
		width: 100%;
	}

	#module-2-text{
		width: 100%;
	}

	#module-3-text{
		width: 100%;
	}

	.righty{
		left: 0;
	}

	.lefty{
		left: 0;
	}

	.dealer{
		width: 280px;
		height: 357px;
		background-image: url('../../res/img/dealer-sml.png');
	}



}


