<!DOCTYPE html>
<html>
<head>
	<title>Lexus Plus Proto 03</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<style type="text/css">

		#main-content {

			width: 100%;
			max-width: 800px;
			margin: 0 auto;
		}

		.main-module{
			border: green solid 1px;
			margin-top:20px;
			position: relative;
			height: auto;


		}

		.main-image{
			width: 100%;
			height:auto;
			border: yellow solid 1px;
			position: relative;
			xposition: absolute;
			xtop: 0;
		}

		.main-text{
			width: 100%;
			border: red solid 1px;
			font-size: 24px;
			position: relative;
		}


	</style>

</head>
<body>


		<div id="main-content">

			<div class="main-module">

				<img  class="main-image" src="../res/img/vidlink.jpg"/>

				<div  class="main-text">
					Introducing Lexus Plus, a refreshingly new approach to the dealership experience. Where transparent, upfront pricing comes standard. And where a dedicated consultant can assist you in every way, every step of the way. Welcome to the easier, faster, and better way.  This is more than a new chapter of customer service. This is our next step in rewriting the book.
				</div>

			</div>

			<div class="main-module">

				<img  class="main-image" src="../res/img/vidlink.jpg"/>

				<div  class="main-text">
					Introducing Lexus Plus, a refreshingly new approach to the dealership experience. Where transparent, upfront pricing comes standard. And where a dedicated consultant can assist you in every way, every step of the way. Welcome to the easier, faster, and better way.  This is more than a new chapter of customer service. This is our next step in rewriting the book.
				</div>

			</div>

			<div class="main-module">

				<img  class="main-image" src="../res/img/vidlink.jpg"/>

				<div  class="main-text">
					Introducing Lexus Plus, a refreshingly new approach to the dealership experience. Where transparent, upfront pricing comes standard. And where a dedicated consultant can assist you in every way, every step of the way. Welcome to the easier, faster, and better way.  This is more than a new chapter of customer service. This is our next step in rewriting the book.
				</div>

			</div>

		</div>


</body>
</html>
